*{
    margin:0;
    padding:0;
}
#about{
    width:100vw;
    height: 100vh;     
}
#about .first-half{
    width:100%;
    height:60%;
    background-image:linear-gradient(rgba(8, 8, 8, 0.452),rgba(0, 0, 0, 0.452)),url(background.jpg);
    color:white;
    position: relative;
    gap:10px;
    padding:5px;
}


